@define-color bg0 #2e3440;
@define-color bg1 #3b4252;
@define-color bg2 #434c5e;
@define-color bg3 #4c566a;
@define-color bg4 #8fbcbb;

@define-color red #bf616a;
@define-color orange #d08770;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color aqua #88c0d0;
@define-color blue #81a1c1;
@define-color purple #b48ead;

@define-color fg #ffffff;

@define-color grey0 #d8dee9;
@define-color grey1 #e5e9f0;
@define-color grey2 #eceff4;

